@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(./fonts/Poppins-Regular.ttf) format("opentype");
}
@font-face {
  font-family: "Poppins-bold";
  src: local("Poppins"), url(./fonts/Poppins-Bold.ttf) format("opentype");
}
body {
  font-family: Poppins !important;
}
// menu style
.header {
  .menu {
    width: 100%;
    background-color: #fff !important;
    &-left {
      width: 100%;
      justify-content: center;
      .menu-item {
        color: #666666;
        font-size: 20px;
        font-family: Poppins;
        font-weight: 600;
        margin: 0 20px;
        justify-content: center;
        text-align: center;
        transition: all 0.5s ease-in-out;
        position: relative;
        &:hover {
          color: #337ab7 !important;
        }
      }
    }
    &-right {
      padding-left: 0;
      margin-bottom: 0;
      &__item {
        position: relative;
        list-style: none;
        margin: 0 20px;
        font-size: 20px;
        svg {
          color: #666666;
        }
        .number-quantity {
          position: absolute;
          top: -15px;
          right: -15px;
          font-size: 16px;
          width: 25px;
          height: 25px;
          background: #337ab7;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          color: #fff;
        }
        .hide{
          display: none;
        }
      }
    }
  }
}

// slide
.slide {
  .slick-slider {
    width: 100%;
    position: relative;
    .slick-dots {
      position: absolute;
      bottom: 20px;
      button:before {
        font-size: 15px;
        color: #fdba2d;
        opacity: 1;
      }
      .slick-active {
        button:before {
          opacity: 1;
          color: #337ab7;
        }
      }
    }
  }
}

.feature {
  padding-bottom: 50px;
  .feature-products {
    padding-top: 100px;
    &__title {
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 50px;
      .title-orange {
        color: #fdba2d;
      }
      .title-blue {
        color: #337ab7;
        font-weight: 700;
      }
    }
    .feature-products__wrapper {
      display: flex !important;
      align-items: center;
      .feature-info {
        padding-left: 50px;
        .heading-title {
          color: #444444;
          margin-bottom: 20px;
        }
        .price {
          color: #d10024;
          letter-spacing: 2px;
          &__old {
            color: #ccc;
            margin-left: 10px;
          }
        }

        .des {
          color: #8a8a8a;
        }
        .rating {
          font-size: 20px;
          & li * {
            margin: 0 4px;
          }
          & li svg:first-child {
            margin-left: 0;
          }
        }
        .feature-action {
          display: flex;
          .btn-buy {
            padding: 10px 25px;
            background: #1696e7;
            color: #fff !important;
            text-transform: uppercase;
            font-size: 14px; 
            cursor: pointer;
            transition: 0.3s;
            &:hover{
              background-color: #fdba2d;
            }
          }
          .feature-icon {
            margin-left: 30px;
            display: flex;
            align-items: center;
            & a {
              background: #c1c1c1;
              width: 40px;
              text-align: center;
              height: 40px;
              line-height: 40px;
              margin-right: 20px;
              border-radius: 50%;
              cursor: pointer;
              transition: 0.3s;
              &:hover{
                background-color: #337ab7;
                color: #fff;
              }
            }
            & a:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}

// Modal Quick View
.product-selected {
  &__img {
    border-right: 1px solid #eee;
    text-align: center;
    display: flex;
    align-items: center;
  }
  &__wrapper-info {
    padding: 40px !important;
    .heading-title {
      color: #444444;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .price {
      color: #d10024;
      letter-spacing: 2px;
      font-size: 28px;
      &__old {
        color: #ccc;
        margin-left: 10px;
      }
    }

    .des {
      color: #8a8a8a;
      margin: 20px 0;
      padding-bottom: 20px;
      border-bottom: 1px solid #eee;
    }
    .category {
      color: rgb(253, 186, 45);
      & span {
        color: #000;
        font-style: italic;
      }
    }
    .rating {
      font-size: 20px;
      & li * {
        margin: 0 4px;
      }
      & li svg:first-child {
        margin-left: 0;
      }
    }
    .form-group {
      width: 100%;
      display: flex;
      align-items: center;
      .form-label {
        width: 40%;
        margin-bottom: 0;
      }
    }
    .quantity {
      position: relative;
      display: flex;
      align-items: center;
      input {
        width: 100%;
        height: 42px;
        line-height: 1.65;
        float: left;
        display: block;
        padding: 0;
        margin: 0;
        padding-left: 20px;
        border: 1px solid #eee;
        &:focus {
          outline: 0;
        }
      }
      &-nav {
        float: left;
        position: relative;
        height: 42px;
        .quantity-button {
          position: relative;
          cursor: pointer;
          border-left: 1px solid #eee;
          width: 20px;
          text-align: center;
          color: #333;
          font-size: 13px;
          font-family: "Trebuchet MS", Helvetica, sans-serif !important;
          line-height: 1.7;
          -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          -o-user-select: none;
          user-select: none;
        }
        .quantity-button.quantity-up {
          position: absolute;
          height: 50%;
          top: 0;
          border-bottom: 1px solid #eee;
        }
        .quantity-button.quantity-down {
          position: absolute;
          bottom: -1px;
          height: 50%;
        }
      }
    }
    .modal-footer {
      justify-content: center;
      margin-top: 20px;
    }
  }
}

//banner new in
.new-in {
  background-image: url(./imgs/bg/1.jpeg);
  background-size: cover;
  padding: 100px 0;
  text-transform: uppercase;
  color: #fff;
  &__wrapper {
    overflow: hidden;
    padding-bottom: 15px;
    animation: text-left 1s;

    &-text {
      h1 {
        font-weight: 600;
        letter-spacing: 3px;
        font-size: 50px;
        margin-bottom: 25px;
        // animation: text-left 1s;
      }
      // @keyframes text-left {
      //   0%{
      //     transform: translateX(-396px);
      //   }
      //   100%{
      //     transform: translateX(0);
      //   }
      // }
      .btn-shop-now {
        color: #1696e7;
        text-decoration: none;
        padding: 10px 25px;
        background: #fff;
        margin-top: 25px;
        display: inline-block;
        font-weight: 600;
        transition: 0.3s;
        &:hover {
          background-color: #fdba2d;
          color: #fff;
        }
      }
    }
  }
}

//tab product
.products-all {
  padding-top: 100px;

  .nav-tabs {
    padding-bottom: 20px;
    border-bottom: 2px solid #eee;

    .nav-link {
      font-weight: 600;
      transition: 0.3s;
      padding: 0 20px;
      font-size: 20px;
      border: none;
      color: #666666;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        margin-left: auto;
        padding-right: 0;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 2px;
          height: 100%;
          background-color: #337ab7;
          left: 0;
          top: 0;
        }
      }
      &:hover {
        color: #337ab7;
      }
    }
    .active {
      color: #337ab7 !important;
    }
  }

  .wrapper-product {
    margin-top: 40px;
    animation: aniScale 0.4s;

    @keyframes aniScale {
      from {
        transform: scale(0.9);
      }
      to {
        transform: scale(1);
      }
    }
    &:hover {
      .wrapper-product__info-action {
        opacity: 1;
      }
      .wrapper-product__info-text {
        opacity: 0;
      }
    }
    &__img {
      cursor: pointer;
    }

    &__info {
      position: relative;

      &-text {
        transition: all 0.2s;
        padding-top: 20px;
        .title {
          font-size: 20px;
          text-decoration: none;
          color: #555555;
          position: relative;
          margin-bottom: 1rem;
          &:hover {
            color: #337ab7;
          }
          &::before,
          &::after {
            content: "";
            position: absolute;
            width: 30px;
            height: 1px;
            background-color: rgba(26, 23, 23, 0.5);
            top: 50%;
            transform: translateY(-50%);
          }
          &::before {
            left: -40px;
          }
          &::after {
            right: -40px;
          }
        }
        .price {
          color: #d10024;
          letter-spacing: 2px;
          font-weight: bold;
          font-size: 18px;
          &__old {
            color: #ccc;
            margin-left: 10px;
          }
        }
      }
      &-action {
        display: flex;
        opacity: 0;
        align-items: center;
        width: 100%;
        justify-content: center;
        position: absolute;
        top: 40px;
        transition: all 0.4s ease 0s;
        .btn-buy {
          padding: 10px 25px;
          background: #337ab7;
          color: #fff;
          text-transform: uppercase;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            background-color: #fdba2d;
          }
        }
        .feature-icon {
          margin-left: 30px;
          display: flex;
          align-items: center;
          & a {
            background: #15499f;
            color: #fff;
            width: 40px;
            text-align: center;
            height: 40px;
            line-height: 40px;
            margin-right: 20px;
            border-radius: 50%;
            cursor: pointer;
            &:hover {
              background-color: #fdba2d;
            }
          }
          & a:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

//Deal
.deal {
  margin-top: 100px;
  .slick-slider {
    width: 100%;
  }
  &__heading {
    padding-bottom: 50px;
    font-size: 30px;
    font-weight: 600;
    &-orange {
      color: #fdba2d;
    }
    &-blue {
      color: #337ab7;
      font-weight: 700;
    }
  }
  &__img {
    padding-right: 0 !important;
    img {
      width: 475px;
      height: 475px;
      object-fit: cover;
    }
  }
  &__info {
    padding: 75px 75px 50px 50px !important;
    background-color: #337ab7;
    &-title {
      h3 {
        color: #fff;
        background: #15499f;
        display: inline-block;
        padding: 10px 25px;
        font-weight: bold;
        margin-left: -64px;
        position: relative;
        &::before {
          content: "";
          width: 0;
          height: 0;
          position: absolute;
          top: -10px;
          left: 0px;
          border-style: solid;
          border-width: 0 0 10px 15px;
          border-color: transparent transparent #15499f transparent;
        }
      }
      p {
        color: #d5d5d5;
        line-height: 1.8;
      }
      .rating {
        font-size: 16px;
        & li * {
          margin: 0 4px;
        }
        & li svg:first-child {
          margin-left: 0;
        }
      }
      .price-action {
        display: flex;
        align-items: center;
        & li:first-child {
          color: #fff;
          font-size: 24px;
          letter-spacing: 2px;
        }
        .btn-buy {
          margin-left: 25px;
          padding: 10px 25px;
          background-color: #fff;
          text-transform: uppercase;
          color: #f83a3a;
          font-weight: 600;
        }
      }
      .time-count-deal {
        display: flex;
        margin-top: 30px;
        .time-count {
          text-align: center;
          font-size: 24px;
          text-transform: capitalize;
          color: #fff;
          font-weight: 400;
          margin-top: 5px;
          margin: 0 15px;
          span {
            display: block;
            font-size: 14px;
            text-transform: capitalize;
            color: #fff;
            font-weight: 400;
            margin-top: 5px;
          }
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
  .slick-next:before,
  .slick-prev:before {
    font-size: 40px;
    color: #337ab7 !important;
  }
  .slick-prev {
    left: -55px;
  }
}

//blog

.blog {
  margin-top: 100px;
  background: #f3f3f3;
  padding: 50px 0;
  &__heading {
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 600;
    &-orange {
      color: #fdba2d;
    }
    &-blue {
      color: #337ab7;
      font-weight: 700;
    }
  }
  &__content {
    &-img {
      img {
        width: 100%;
      }
    }
    &-inner {
      background-color: #fff;
      padding: 20px;
      position: relative;
      .date-time-post {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        .date {
          background: #337ab7;
          text-align: center;
          padding: 10px;
          color: #fff;
          position: absolute;
          top: -35px;
        }
        .user,
        .count-comment {
          color: #ccc;
          svg {
            margin-right: 10px;
          }
        }
        .user {
          margin: 0 25px 0 100px;
        }
      }
      .title-post {
        padding-bottom: 5px;
        a {
          color: #212529;
          font-size: 24px;
          text-decoration: none;
          &:hover {
            color: #337ab7;
          }
        }
      }
      .preview-content {
        color: #8a7979;
      }
      .read-more {
        text-decoration: none;
        transition: 0.4s;
        &:hover {
          color: #d10024;
          margin-left: 5px;
        }
      }
    }
  }
}

//subscribe
.subscribe {
  padding: 50px 0;
  background-color: #337ab7;
  .row {
    align-items: center;
  }
  &__text {
    color: #fff;
    font-weight: 600;
    h2 {
      margin-bottom: 0;
    }
  }
  &__input {
    form {
      display: flex;
      input {
        width: 100%;
        padding: 10px 10px;
        border: none;
        outline: none;
        border-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      button {
        border: none;
        background-color: #fdba2d;
        color: #fff;
        text-transform: uppercase;
        padding: 0 20px;
      }
    }
  }
}

