
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(./fonts/Poppins-Regular.ttf) format("opentype");
}
@font-face {
  font-family: "Poppins-bold";
  src: local("Poppins"), url(./fonts/Poppins-Bold.ttf) format("opentype");
}
body {
  font-family: Poppins !important;
}
@import './assets/scss/abstract/mixins.scss';
@import "~bootstrap/scss/bootstrap";
@import './assets/scss/about.scss';
@import './assets//scss/banner.scss';
@import './assets/scss/blog.scss';
@import './assets/scss/blogpage.scss';
@import './assets/scss/checkout.scss';
@import './assets/scss/contact.scss';
@import './assets/scss/content.scss';
@import './assets/scss/deal.scss';
@import './assets/scss/description.scss';
@import './assets/scss/footer.scss';
@import './assets/scss/navbar.scss';
@import './assets/scss/ralated.scss';
@import './assets/scss/tabProduct.scss';
@import './assets/scss/modal.scss';
@import './assets/scss/feature.scss';
@import './assets/scss/slide.scss';
@import './assets/scss/login.scss';
@import './assets/scss/subcribe.scss';
@import './assets/scss/dashboard.scss'
